# Final project raw code

In [3]:
#import the python library 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
%matplotlib inline

#stats lybraries
import statsmodels.api as sm 
import scipy

#here i set limits on what i allow the phyton to show in tables
from pandas import set_option
set_option('display.max_rows',8) 
#limits rows show in tablle by 10(above). change this number if you want more or less rows visible

## Data import and setting of the colunms names

In [4]:
#import weather data to python. 
weather_data_quest = pd.read_csv('..//data/QuestU_Remote_Weather_Station_oct312015.csv',index_col='Date_Time')

#assigning columns names 
weather_data_quest.columns=[['num_test','Rainfall(mm)','temperature(C)','relative_humidity(%)','wind_direction','wind_speed(m/s)','gust_speed(m/s)']]

# making my my index veiwed as a date time subject not a string. 
weather_data_quest.index = pd.to_datetime(weather_data_quest.index)

#show what the table of weather_data_quest looks like. 
weather_data_quest

,num_test,Rainfall(mm),temperature(C),relative_humidity(%),wind_direction,wind_speed(m/s),gust_speed(m/s)
Date_Time,,,,,,,
2015-09-23 09:04:59,1,NaN,12.243,84.6,64.6,0.76,6.30
2015-09-23 09:19:59,2,0.0,12.316,84.4,92.7,0.00,0.76
2015-09-23 09:34:59,3,0.0,12.340,84.7,1.4,0.00,1.51
2015-09-23 09:49:59,4,0.0,12.074,84.6,7.0,0.00,1.26
...,...,...,...,...,...,...,...
2015-10-31 13:19:59,3666,0.2,12.654,94.5,99.7,0.00,1.51
2015-10-31 13:34:59,3667,0.0,12.122,97.9,233.1,0.00,1.76
2015-10-31 13:49:59,3668,0.2,11.880,98.2,203.6,0.00,2.52
2015-10-31 14:04:59,3669,0.4,11.734,98.1,140.4,0.00,0.50

   #### check what type of data working with

In [5]:
weather_data_quest.dtypes

num_test                  int64
Rainfall(mm)            float64
temperature(C)          float64
relative_humidity(%)    float64
wind_direction          float64
wind_speed(m/s)         float64
gust_speed(m/s)         float64
dtype: object

## Visualizing data in the froms of graphs